<html>
  <head>
    <title>Vipolla Table Loading Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
    *{
      margin: 0;
      font-size: 20px;
    }
    </style>
  </head>
  <body>
    <table class="table table-hover table-striped">
      <tr>
        <td><b>Name</b></td>
        <td><b>Rank</b></td>
        <td><b>Birth Date</b></td>
        <td><b>Page Link</b></td>
      </tr>
      {% for user in users %}
      <tr onclick="document.location = '/{{ user.name }}';">
        <td>{{ user.name }}</td>
        <td>{{ user.rang }}</td>
        <td>{{ user.birthDate }}</td>
        <td><b><a href="{{ user.name }}" style="text-decoration: none">View {{ user.name }}'s page</a></b></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
