<html>
  <head>
    <title>{{ user.name }}'s Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    *{
      margin: 0;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h6><a href="/" style="text-decoration: none"><i class="fa fa-arrow-left" aria-hidden="true"></i> Return to homepage</a></h6>
        <h1>{{user.name}}</h1>
      </div>
      <table class="table table-striped table-hover">
        <tr>
          <th><b>Name:</b></th>
          <th>{{ user.name }}</th>
        </tr>
        <tr>
          <th><b>Rank:</b></th>
          <th>{{ user.rang }}</th>
        </tr>
        <tr>
          <th><b>Birth Date:</b></th>
          <th>{{ user.birthDate }}</th>
        </tr>
      </table>
    </div>
  </body>
</html>
